body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.table-img .headers {
  display: flex;
}

.table-img span {
  width: 100px;
  text-align: left;
  padding-left: 10px;
}

.table-img img {
  margin: 5px;
}