body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.table-img .headers {
  display: flex;
}

.table-img span {
  width: 100px;
  text-align: left;
  padding-left: 10px;
}

.table-img img {
  margin: 5px;
}

.mui-form, .form-buttons {
  margin: 20px;
}

.fileUploader.img-uploader {
  width: 100px;
}

.label-form {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  font-size: 10px;
  color: red;
}

.img-uploader .fileContainer .chooseFileButton {
  background: none;
  border-radius: 0px;
  color: #2196F3;
}

.img-uploader .fileContainer .chooseFileButton:hover {
  background: #ddd;
  border-radius: 0px;
  color: #2196F3;
}

.img-uploader .fileContainer {
  background: #fff;
  box-shadow: none;
  position: relative;
  border-radius: 0px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  transition: all 0.3s ease-in;
}